interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://power.larc.nasa.gov/api/temporal/monthly/regional?start=2006&end=2007&latitude-min=7.144038703&latitude-max=11.544038703&longitude-min=56.443277783&longitude-max=59.44444527&community=ag&parameters=TS%2CT2M%2CEVPTRNS&format=json&header=False
  response:
    body:
      string: '{"features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[56.75,7.25,0.0]},"properties":{"parameter":{"TS":{"200601":26.71,"200602":27.04,"200603":27.9,"200604":29.18,"200605":29.79,"200606":27.37,"200607":25.31,"200608":25.68,"200609":25.96,"200610":28.08,"200611":28.39,"200612":27.93,"200613":27.44,"200701":27.08,"200702":28.03,"200703":28.46,"200704":29.62,"200705":30.32,"200706":28.33,"200707":26.93,"200708":26.26,"200709":26.82,"200710":27.82,"200711":27.92,"200712":27.49,"200713":27.92},"T2M":{"200601":26.26,"200602":26.55,"200603":27.17,"200604":27.89,"200605":28.71,"200606":27.42,"200607":25.35,"200608":25.75,"200609":25.66,"200610":27.05,"200611":27.5,"200612":27.56,"200613":26.9,"200701":26.62,"200702":27.1,"200703":27.45,"200704":28.33,"200705":29.29,"200706":28.49,"200707":26.64,"200708":26.34,"200709":26.75,"200710":26.85,"200711":27.17,"200712":26.79,"200713":27.32},"EVPTRNS":{"200601":-999.0,"200602":-999.0,"200603":-999.0,"200604":-999.0,"200605":-999.0,"200606":-999.0,"200607":-999.0,"200608":-999.0,"200609":-999.0,"200610":-999.0,"200611":-999.0,"200612":-999.0,"200613":-999.0,"200701":-999.0,"200702":-999.0,"200703":-999.0,"200704":-999.0,"200705":-999.0,"200706":-999.0,"200707":-999.0,"200708":-999.0,"200709":-999.0,"200710":-999.0,"200711":-999.0,"200712":-999.0,"200713":-999.0}}}},{"type":"Feature","geometry":{"type":"Point","coordinates":[57.25,7.25,0.0]},"p[...]
